footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 2rem;
    background-color: black;
    color: white;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-top: 1rem;
}

footer ul svg {
    margin-right: 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}